<div class="page-header" ng-model="title">
  <h1>{{topic.name}}</h1>
</div>

<p ng-model="description">
  {{topic.description}}
</p>

<h2>
  <ng-pluralize count="topic.Messages.length" when="{'0':'Ei yhtään viestiä', '1':'1 viesti', 'other':'{} viestiä'}">
  </ng-pluralize>
</h2>

<ul class="media-list">
  <li class="media" ng-repeat="message in topic.Messages">
    <div class="media-body">
      <h4 class="media-heading">
        <a href="#/messages/{{message.id}}">{{ message.title }}</a>
      </h4>

      <p>
        {{message.content}}
      </p>

      <p class="text-muted">
        {{ message.User.username }}, {{ message.createdAt | date: 'yyyy-MM-dd HH:mm:ss' }}
      </p>
    </div>
  </li>
</ul>

<h2 ng-if="userLoggedIn">Lisää oma viestisi</h2>

<form name="msgForm" ng-if="userLoggedIn">
  <div class="form-group">
    <label>Otsikko</label>
    <input name="title" type="text" class="form-control" ng-model="newMsg.title" required>
  </div>

  <div class="form-group">
    <label>Viesti</label>
    <textarea name="content" class="form-control" ng-model="newMsg.content" required></textarea>
  </div>
  <button class="btn btn-success" ng-click="addMsg()" ng-disabled="msgForm.$invalid">Lisää viesti</button>
</form>
