<div class="page-header">
  <h1>Kirjaudu sisään</h1>
</div>

<form name="login">
  <div class="form-group">
    <p>{{ errorMessage }}</p>
    <label>Käyttäjätunnus</label>
    <input name="user" type="text" class="form-control" ng-model="userLogIn.username" required>
  </div>

  <div class="form-group">
    <label>Salasana</label>
    <input name="psw" type="text" class="form-control" ng-model="userLogIn.password" required>
  </div>

  <button class="btn btn-primary" ng-click="logIn()" ng-disabled="login.$invalid">Kirjaudu sisään</button>
</form>
