<div class="page-header">
  <h1>Rekisteröidy</h1>
</div>

<form name="register">
  <p>{{ errorMessage }}</p>
  <div class="form-group">
    <label>Käyttäjätunnus</label>
    <input name="user" type="text" class="form-control" ng-model="newUser.username" required ng-minlength="5" ng-maxlength="20">
  </div>

  <div class="form-group">
    <label>Salasana</label>
    <input name="psw" type="text" class="form-control" ng-model="newUser.password" ng-minlength="5" ng-maxlength="20" required>
  </div>

  <div class="form-group">
    <label>Salasana uudelleen</label>
    <input name="pswMatch" type="text" class="form-control" ng-change="compare()" ng-model="matchpsw" required>
    <div class="msg-block" ng-messages="register.pswMatch.$error" ng-if="match">
      <div ng-message="match">Salasanat eivät ole samoja!</div>
    </div>
  </div>

  <button class="btn btn-success" ng-click="registerNew()" ng-disabled="register.$invalid">Rekisteröidy</button>
</form>
